<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.unter">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:vmSafeMode="true">

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/google_maps_api_key"/>

        <activity
                android:name=".activity.MainActivity"
                android:label="@string/title_activity_main"
                android:theme="@style/AppTheme.NoActionBar"
                android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".activity.JourneyInfoActivity"
                android:label="Unter"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Allows the activity to pick up on "unter" URIs -->
                <data android:scheme="unter" android:host="ride" android:pathPattern="/info.*" android:path="/info"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".activity.JourneyConfirmActivity"
                android:label="Unter"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Allows the activity to pick up on "unter" URIs -->
                <data android:scheme="unter" android:host="ride" android:pathPattern="/request.*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Allows the activity to pick up on "unter" URIs -->
                <data android:scheme="unter" android:host="ride" android:pathPattern="/confirm.*"/>
            </intent-filter>
        </activity>

        <service
                android:name=".service.RideNotificationService"
                android:label="Unter Ride Notification Service">
            <intent-filter>
                <action android:name="android.intent.action.RUN"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- pick up unter URIs -->
                <data android:scheme="unter" android:host="ride" android:path="/notify" android:pathPattern="/notify*"/>
            </intent-filter>
        </service>
    </application>

</manifest>